body{
    background-image: linear-gradient(to left,rgb(90, 166, 209),gray);
}

header{
    border-radius: 50px;
    background-image: linear-gradient(to right, rgb(16, 130, 184),rgb(217, 161, 231));
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;

}

.navegacao li{
    display: inline-block;
    margin-left: 30px;
    font-size: 18px;;
    
}

.navegacao ul{
    text-align: center;
    margin-right: 8em;
}

article{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    
    
}

#queanimal {
    
    display: inline-block;
    width: 50%;
    text-align: unset;
    border-radius: 40px;
    border: outset;
    border-color: rgb(217, 161, 231);

}

#bicho1 {
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #4141b1;

}

table{
    display: inline-block;
    border: 2px solid rgb(114, 62, 62);
    margin: auto;
    border-radius: 5%;
    width: 200px;
    height: 240px;
    margin-top: 20px;
    

    
}

#legenda {
    font-size: 10pt;
    color:black;
    font-family:'Times New Roman', Times, serif;
}
th {
    background:rgb(31, 121, 160);
    border-radius: 70%;
    transition: 2s linear;
}

th:hover{
    background: orange;
    color: white;
}

caption{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

thead{
    display: inline-block;
    line-height: 25px;
}

#curioso {
    position: absolute;
    left:320px;
    width: 100px;
    height: 50px;
    border-radius: 30%;
    
}

#descricao {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}