.super-mario {
    width: 200px;
    position: absolute;
    bottom:250px;
    left:200px;
    z-index: 1;


  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 250px;
    top: 400px;
  }
  
  .baloon {
    position: absolute;
    left: 500px;
    top: 100px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 525px;
    bottom: 425px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 750px;
    top: 300px;
  }