body{
    background-color: rgb(253, 251, 251)
  }
  
  #cabecalho {
    position: fixed;
    top: 0;
    right:0;
    left:0;
    width: 100%;
    height: 125px;
    background-color: azure;
    transition: 1s linear;
    color:purple;
    text-align: center;
    transition: 1s linear;
    border-radius: 50px;;
  }

  #cabecalho:hover{
    background-color: rgb(230, 210, 238);
    color: rgb(8, 2, 3);
  }

  
  #titulo{
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    margin-bottom:0px;
    margin-top: 5px;
    font-size: 50px;
  }
  

  #minha_foto {
    border-radius: 50%;
    position: absolute;
    width: 200px;
    top:150px;
    
  }

  a {
      color: black;
      transition: 1s linear;
  }
  
  #trybe{
    font-size: 20px;;
  }

  #trybe:hover{
      color: green;
      font-size: 25px;
  }

  #nav {
    list-style: none;;
  }
  #legenda_foto {
      position: absolute;
      top: 360px;
      font-size: 10pt;
      font-family:monospace;
      left: 50px;
      
  }

  .lado-esquerdo {
      border: 2px solid black;
      position: absolute;
      left: 330px;
      width: 50%;
      height: 150px;
      top: 180px;
      text-align: justify;
  }

  #evoluir {
      text-align: center;
      font-weight: bold;
  }

  p,ul,li {
      margin-left: 5px;
      margin-right: 5px;
      font-family:'Neucha', cursive;;
      
  }

  .lado-direito {
    border: 2px solid black;
    position: absolute;
    left: 79%;
    width: 20%;
    height: 100px;
    top: 150px;
    text-align: justify;
  }

  #headeraprendidas{
    position: relative;
    border: 2px solid black;
    left: 10px;
    
  }

  #headeraserem {
    position: relative;
    border: 2px solid black;
    left: 50px;
  }

  #primeirasecao {
    position: relative;
    top:400px;
    border: 2px solid black;
    height: 250px;
    width: 400px;
    padding-top: 5px;;
  }

  #licoes_a_aprender {
    position: relative;
    left:200px;
    bottom:220px;
    line-height: 20px;
    
  }

  #licoes_aprendidas {
    position: relative;
    line-height: 20px;
  }

  

  