body{
    background-color: rgb(253, 251, 251)
  }
  
  #cabecalho {
    position: fixed;
    top: 0;
    right:0;
    left:0;
    width: 100%;
    border: 3px solid #73AD21;
  }
  
  #titulo{
    color:purple;
    text-align: center;
  }

  #minha_foto {
    position: absolute;
    width: 200px;
    top:150px;
  }

  a {
      color: black;
  }

  #legenda_foto {
      position: absolute;
      top: 360px;
      font-size: 10pt;
      font-family:monospace;
      left: 50px;
      
  }

  .lado-esquerdo {
      border: 2px solid black;
      position: absolute;
      left: 330px;
      width: 50%;
      height: 150px;
      top: 150px;
      text-align: justify;
  }

  #evoluir {
      text-align: center;
      font-weight: bold;
  }

  p {
      margin-left: 5px;
      margin-right: 5px;
  }

  .lado-direito {
    border: 2px solid black;
    position: absolute;
    left: 79%;
    width: 20%;
    height: 100px;
    top: 150px;
    text-align: justify;
  }

  #headeraprendidas{
    position: relative;
    border: 2px solid black;
    left: 10px;
    
  }

  #headeraserem {
    position: relative;
    border: 2px solid black;
    left: 50px;
  }

  #primeirasecao {
    position: relative;
    top:400px;
    border: 2px solid black;
    height: 250px;
    width: 400px;
    padding-top: 5px;;
  }

  #licoes_a_aprender {
    position: relative;
    left:200px;
    bottom:220px;
    line-height: 20px;
    
  }

  #licoes_aprendidas {
    position: relative;
    line-height: 20px;
  }

  

  